.memory-configuration {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.memory-configuration__title {
    margin: 0;
}

.memory-configuration__radio-buttons {
    display: flex;
    gap: 10px;
}
