body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafe;
    margin: 0;
}

.header,
.main {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8fafe;
    z-index: 3;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.header__logo {
    margin: 0 50px;
}

.logo__logo-img {
    position: relative;
    top: -5px;
}

.logo__logo-text {
    font-size: 44px;
}

.header-box__favs-cart-buttons {
    margin: 25px 50px 0 0;
}

.favs-cart-buttons {
    display: flex;
    gap: 28px;
    align-items: center;
}

.favs {
    position: relative;
}

.hidden {
    display: none;
}

.pseudo-shown::before {
    display: inline-block !important;
}

.favs::before {
    display: none;
    position: absolute;
    content: attr(data-count);
    color: #ffffff;
    font-size: 14px;
    line-height: 19px;
    background-color: #F36223;
    border-radius: 50px;
    padding: 3px 9px;
    z-index: 1;
    top: -10px;
    right: -12px;
}

.cart {
    position: relative;;
}

.cart::before {
    display: none;
    position: absolute;
    content: attr(data-count);
    color: #ffffff;
    font-size: 14px;
    line-height: 19px;
    background-color: #F36223;
    border-radius: 50px;
    padding: 3px 9px;
    z-index: 1;
    top: -6px;
    right: -10px;
}

.breadcrumbs {
    display: flex;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
}

.nav__breadcrumbs {
    margin: 98px 50px 0 50px;
}

.breadcrumbs__link,
.specs__link,
.footer__link {
    text-decoration: none;
    color: #008CF0;
}

.breadcrumbs__link:hover,
.specs__link:hover,
.footer__link:hover {
    color: #F36223;
}

.breadcrumbs__link:active,
.specs__link:active,
.footer__link:active {
    color: #A93A09;
}

.item-title {
    font-size: 32px;
}

.main__item-title {
    margin: 8px auto 0 50px;
}

.item-images {
    display: flex;
    gap: 10px;
}

.main__item-images {
    margin: 30px 50px 0 50px;

}

.specs-reviews-aside-box {
    padding: 0px;
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.main__specs-reviews-aside-box {
    margin: 30px 50px 0 50px;
}


.color-configuration__title {
    margin: 0;
}

.color-configuration__radio-buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.color-configuration__item-image {
    display: flex;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.color-configuration__item-image:hover {
    background: #F2F2F2;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .color-configuration__item-image:active {
    border: 2px solid #A93A09;
}

  /* CHECKED STYLES */
[type=radio]:checked + .color-configuration__item-image {
    border: 2px solid #F36223;
  }

.memory-configuration {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.memory-configuration__title {
    margin: 0;
}

.memory-configuration__radio-buttons {
    display: flex;
    gap: 10px;
}

.memory-configuration__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    width: 92px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
}

.memory-configuration__btn:hover {
    background: #F2F2F2;
}

.memory-configuration__btn:active {
    border: 2px solid #A93A09;   
}

  /* CHECKED STYLES */
  [type=radio]:checked + .memory-configuration__btn {
    border: 2px solid #F36223;
  }

.specs-reviews-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.specs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.specs__title {
    margin: 0;
}

.specs__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: outside;
    padding-left: 18px;
    margin: 0;
}

::marker {
    color: #888888;
    font-size: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.description__title,
.description__paragraph {
    margin: 0;
}

.comparison {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comparison__title {
    margin: 0;
}

.comparison__table {
    border-collapse: collapse;
    box-sizing: border-box;
}

.comparison__table-head {
    text-align: center;
}

.comparison__table-head,
.comparison__table-boby {
    border: 1px solid #888888;
}

.comparison__table-td,
.comparison__table-th {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    font-size: 16px;
}

.comparison__table-th {
    padding: 10px 15px;
}

.comparison__table-td {
    padding: 10px 8px;
}

.comparison__table-row:hover {
    background-color: #f2f2f2;
}

.reviews-box {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.specs-reviews-box__reviews-box {
    margin-top: 20px;
    margin-bottom: 60px;
}

.reviews-box__header {
    display: flex;
    justify-content: space-between;
}

.reviews-box__title {
    display: flex;
    gap: 10px;
    font-weight: 24px;
    font-weight: 700;
    align-items: center;
}

.reviews-box__title-title,
.reviews-box__title-amount {
    font-size: 24px;
}

.reviews-box__title-title,
.reviews-box__review-title-name {
    margin: 0;
}


.reviews-box__review {
    display: flex;
    gap: 30px;
}

.reviews-box__photo {
    border-radius: 50%;
    height: 140px;
}

.reviews-box__review-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews-box__review-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.br {
    align-self: flex-end;
    width: 710px;
    height: 1px;
    border-bottom: 1px dashed #888888;
}

.reviews-box__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews-box__paragraph {
    margin: 0;
}

.review-box__span {
    display: block;
}

.reviews-box__reviews {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.specs-reviews-box__review-form-box {
    padding-left: 170px;
    margin-bottom: 100px;
}

.review-form__flex-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.review-form__flex-2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
}

.review-form__warning-name, .review-form__warning-rating {
    position: absolute;
    display: none;
    padding: 8px 20px;
    color: #ffffff;
    font-size: 12px;
    background-color: #DA4A0C;
    z-index: 2;
    top: 50px;
    box-sizing: border-box;
}

.review-form__warning-name {
    left: 0;
    width: 495px;
}

.review-form__warning-rating {
    left: 535px;
    width: 175px;
}

.form-box__title {
    margin: 0 0 15px 0;
}

.review-form__textarea {
    max-width: 710px;
    height: 190px;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.review-form__input-text {
    width: 495px;
    box-sizing: border-box;
}

.review-form__input-rating {
    box-sizing: border-box;
    width: 175px;
}

.review-form__input-text,
.review-form__input-rating,
.review-form__textarea {
    padding: 15px 20px;
    border: 1px solid #888888;
    font-size: 16px;
    font-weight: 500;
}

.review-form__input-text::placeholder,
.review-form__input-rating::placeholder,
.review-form__textarea::placeholder {
    color: #888888;
    font-size: 16px;
}

.review-form__input-text:hover,
.review-form__input-rating:hover,
.review-form__textarea:hover {
    border: 1px solid #000000;
}

.review-form__input-text:focus,
.review-form__input-rating:focus,
.review-form__textarea:focus {
    border: 1px solid #000000;
    outline: 0;
}


.review-form-btn {
    padding: 10px 20px;
    font-size: 16px;
}

.add-to-card-box {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    width: 420px;
    height: 275px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.add-to-card-box__sale-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 14px;
}

.add-to-card-box__old-price {
    display: inline-block;
    text-decoration: line-through;
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    color: #888888;
}

.add-to-card-box__discount-amount {
    display: flex;
    color: #ffffff;
    line-height: 16px;
    font-size: 16px;
    background-color: #F36223;
    border-radius: 500px;
    width: 47px;
    height: 24px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.add-to-card-box__add-to-fav {
    position: absolute;
    right: 22px;
    top: 24px;
    fill: #888888;
}

.add-to-fav:hover {
    fill: #F36223;
}

.add-to-fav:active {
    fill: #A93A09;
}

.add-to-card-box__current-price {
    font-size: 32px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.add-to-card-box__delivery-info-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0 30px 0;
}

.add-to-card-box__delivery-info {
    padding: 0;
    margin: 0;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #F36223;
    border-radius: 4px;
    border: none;
}

.add-to-card-btn {
    padding: 20px 0px 20px 50px;
    font-size: 20px;
    width: 380px;
    height: 64px;
    position: relative;
}


.add-to-card-btn::before {
    position: absolute;
    left: 80px;
    display: inline-block;
    width: 24px;
    height: 24px;
    content: "";
    color: #ffffff;
    background-image: url("../resources/busket.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 1;
}


.btn:hover {
    background: #DA4A0C;
    cursor: pointer;
}

.btn:active {
    background: #A93A09;
}

.ads-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aside-box__ads-box {
    margin-top: 40px;
}

.ads-box__title {
    margin: 0;
    color: #888888;
    font-family: 14px;
}

.ad {
    box-sizing: border-box;
    width: 420px;
    height: 300px;
    border: 1px dashed #ccc;
}

footer {
    width: 100vw;
    background-color: #F2F2F2;
    font-size: 14px;
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    width: 1400px;
    padding: 30px 50px;
    margin: 0 auto;
}

@media (max-width: 1499px) and (min-width: 1024px) {
    .comparison {
        display: none;
    }

    .header,
    .main {
        margin: auto;
        width: 1024px;
    }

    .specs-reviews-box__review-form-box {
        padding: 0;
    }

    .reviews-box__photo {
        height: 100px;
    }

    .reviews-box__rating>img {
        height: 20px;
    }

    .specs-reviews-aside-box {
        gap: 40px;
    }

    .header__logo,
    .nav__breadcrumbs,
    .main__item-title,
    .main__item-images,
    .main__specs-reviews-aside-box {
        margin-left: 15px;
        margin-right: 15px;
    }

    .header-box__favs-cart-buttons {
        margin: 25px 15px 0 0;
    }

    .item-images>img {
        height: 272px;
    }

    .add-to-card-box {
        width: 360px;
        height: 313px;
    }

    .add-to-card-btn {
        padding: 20px 0 20px 47px;
        width: 320px;
        height: 64px;
    }

    .add-to-card-btn::before {
        left: 48px;
    }

    .ad {
        width: 360px;
    }

    .specs-reviews-box {
        width: 594px;
    }

    .review-form__warning-name {
        left: 0;
        width: 379px;
    }
    
    .review-form__warning-rating {
        left: 419px;
        width: 175px;
    }

    .footer__info {
        width: 994px;
        padding: 30px 15px;
        margin: 0 auto;
    }


    .br {
        width: 464px;
    }
}