.reviews-box__review {
    display: flex;
    gap: 30px;
}

.reviews-box__photo {
    border-radius: 50%;
    height: 140px;
}

.reviews-box__review-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews-box__review-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.reviews-box__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews-box__paragraph {
    margin: 0;
}

.review-box__span {
    display: block;
}

.br:not(:last-child) {
    align-self: flex-end;
    width: 710px;
    height: 1px;
    border-bottom: 1px dashed #888888;
}

@media (max-width: 1499px) and (min-width: 1024px) {

    .br:not(:last-child) {
        width: 464px;
    }
}

@media (max-width: 360px) {
    .reviews-box__review {
        flex-direction: column;
    }

    .reviews-box__photo {
        display: none;
    }

}