footer {
    width: 100vw;
    background-color: #F2F2F2;
    font-size: 14px;
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    width: 1400px;
    padding: 30px 50px;
    margin: 0 auto;
}

.footer__link {
    text-decoration: none;
    color: #008CF0;
}

.footer__link:hover {
    color: #F36223;
}

.footer__link:active {
    color: #A93A09;
}

@media (max-width: 1499px) and (min-width: 1024px) {
    .footer__info {
        width: 994px;
        padding: 30px 15px;
        margin: 0 auto;
    }
}

@media (max-width: 360px) {
    .footer__info {
        width: 360px;
        padding: 20px 10px;
        margin: 0 auto;
        flex-direction: column;
    }

    footer {
        min-width: 360px;
    }
}
