.header {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8fafe;
    z-index: 3;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.header__logo {
    margin: 0 50px;
}

.logo__logo-img {
    position: relative;
    top: -5px;
}

.logo__logo-text {
    font-size: 44px;
}

.header-box__favs-cart-buttons {
    margin: 25px 50px 0 0;
}

.favs-cart-buttons {
    display: flex;
    gap: 28px;
    align-items: center;
}

.favs {
    position: relative;
}

.pseudo-shown::before {
    display: inline-block !important;
}

.favs::before {
    display: none;
    position: absolute;
    content: attr(data-count);
    color: #ffffff;
    font-size: 14px;
    line-height: 19px;
    background-color: #F36223;
    border-radius: 50px;
    padding: 3px 9px;
    z-index: 1;
    top: -10px;
    right: -12px;
}

.cart {
    position: relative;;
}

.cart::before {
    display: none;
    position: absolute;
    content: attr(data-count);
    color: #ffffff;
    font-size: 14px;
    line-height: 19px;
    background-color: #F36223;
    border-radius: 50px;
    padding: 3px 9px;
    z-index: 1;
    top: -6px;
    right: -10px;
}

@media (max-width: 1499px) and (min-width: 1024px) {
    .header {
        margin: auto;
        width: 1024px;
    }

    .header__logo {
        margin-left: 15px;
        margin-right: 15px;
    }

    .header-box__favs-cart-buttons {
        margin: 25px 15px 0 0;
    }
}

@media (max-width: 360px) {
    .header {
        margin: 0;
        min-width: 360px;
    }



    .header__logo {
        margin-left: 10px;
        margin-right: 10px;
    }

    .logo {
        height: 55px;
    }

    .logo__logo-text {
        font-size: 32px;
    }

    .header__logo {
        margin: 0;
    }

    .header-box__favs-cart-buttons {
        margin: 17px 10px 0 0;
    }

    .favs {
        width: 26px;
        height: 20px;
    }

    .cart {
        width: 24px;
        height: 23px;
    }

    .header-box {
        margin: 8px 15px 8px 10px;
    }

    .favs-cart-buttons {
        gap: 14px;
    }

    .breadcrumbs {
        flex-wrap: wrap;
    }

    .header-box__favs-cart-buttons {
        margin: 0;
    }

    .header__icon-counter {
        left: 15px;
    }

}
