.color-configuration__item-image {
    display: flex;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.color-configuration__item-image:hover {
    background: #F2F2F2;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.color-configuration__item-image:active {
    border: 2px solid #A93A09;
}

/* CHECKED STYLES */
[type=radio]:checked+.color-configuration__item-image, .color-configuration__item-image_active {
    border: 2px solid #F36223;
}