.add-to-card-box {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    width: 420px;
    height: 275px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.add-to-card-box__sale-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 14px;
}

.add-to-card-box__old-price {
    display: inline-block;
    text-decoration: line-through;
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    color: #888888;
}

.add-to-card-box__discount-amount {
    display: flex;
    color: #ffffff;
    line-height: 16px;
    font-size: 16px;
    background-color: #F36223;
    border-radius: 500px;
    width: 47px;
    height: 24px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.add-to-card-box__add-to-fav {
    position: absolute;
    right: 22px;
    top: 24px;
    fill: #888888;
}

.add-to-fav {
    z-index: 0;
}

.add-to-fav:hover {
    fill: #F36223;
}

.add-to-fav:active {
    fill: #A93A09;
}

.add-to-fav_hidden {
    display: none;
}

.add-to-fav_checked {
    fill: #F36223;
    display: inline-block;
    z-index: 1;
}

.add-to-fav_checked:active {
    fill:#A93A09;
}

.add-to-card-box__current-price {
    font-size: 32px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.add-to-card-box__delivery-info-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0 30px 0;
}

.add-to-card-box__delivery-info {
    padding: 0;
    margin: 0;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #F36223;
    border-radius: 4px;
    border: none;
}

.btn__active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #888888;
    border-radius: 4px;
    border: none;
}

.add-to-card-btn {
    padding: 20px 0px 20px 50px;
    font-size: 20px;
    width: 380px;
    height: 64px;
    position: relative;
}


.add-to-card-btn::before {
    position: absolute;
    left: 80px;
    display: inline-block;
    width: 24px;
    height: 24px;
    content: "";
    color: #ffffff;
    background-image: url("../../../public/resources/busket.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 1;
}


.btn:hover {
    background: #DA4A0C;
    cursor: pointer;
}

.btn:active {
    background: #A93A09;
}

@media (max-width: 1499px) and (min-width: 1024px) {
    .add-to-card-box {
        width: 360px;
        height: 313px;
    }

    .add-to-card-btn {
        padding: 20px 0 20px 47px;
        width: 320px;
        height: 64px;
    }

    .add-to-card-btn::before {
        left: 48px;
    }
}

@media (max-width: 360px) {
    .add-to-card-box {
        width: 338px;
        height: 275px;
    }

    .add-to-card-btn {
        padding: 20px 0 20px 47px;
        width: 298px;
        height: 54px;
    }

    .add-to-card-box__delivery-info-box {
        margin: 15px 0 12px 0;
    }

    .add-to-card-btn::before {
        left: 40px;
    }

}
