*{
    margin: 0;
    padding: 0;
}
div {
    max-width: 418px;
    height: 296px;
    background-color: #eee;
    font-family: 'Inter', sans-serif;;
    font-size: 16px;
    color: #888888;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}