.pageindex {
    font-size: 16px;
}

.pageindex__main {
    min-height: 90vh;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pi-main__massage {
    text-align: center;
}

.pi-main__link {
    text-decoration: none;
    color: #008CF0;
}

.pi-main__link:hover {
    color: #F36223;
}

.pi-main__link:active {
    color: #A93A09;
}

