.specs-reviews-box__review-form-box {
    padding-left: 170px;
    margin-bottom: 100px;
}

.review-form__flex-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.review-form__flex-2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
}

.review-form__warning-name,
.review-form__warning-rating {
    position: absolute;
    display: inline-block;
    padding: 8px 20px;
    color: #ffffff;
    font-size: 12px;
    background-color: #DA4A0C;
    z-index: 2;
    top: 50px;
    box-sizing: border-box;
}

.review-form__warning-name {
    left: 0;
    width: 495px;
}

.review-form__warning-rating {
    left: 535px;
    width: 175px;
}

.form-box__title {
    margin: 0 0 15px 0;
}

.review-form__textarea {
    max-width: 710px;
    height: 190px;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.review-form__input-text {
    width: 495px;
    box-sizing: border-box;
}

.review-form__input-rating {
    box-sizing: border-box;
    width: 175px;
}

.review-form__input-text,
.review-form__input-rating,
.review-form__textarea {
    padding: 15px 20px;
    border: 1px solid #888888;
    font-size: 16px;
    font-weight: 500;
}

.review-form__input-text::placeholder,
.review-form__input-rating::placeholder,
.review-form__textarea::placeholder {
    color: #888888;
    font-size: 16px;
}

.review-form__input-text:hover,
.review-form__input-rating:hover,
.review-form__textarea:hover {
    border: 1px solid #000000;
}

.review-form__input-text:focus,
.review-form__input-rating:focus,
.review-form__textarea:focus {
    border: 1px solid #000000;
    outline: 0;
}


.review-form-btn {
    padding: 10px 20px;
    font-size: 16px;
}

@media (max-width: 1499px) and (min-width: 1024px) {
    .specs-reviews-box__review-form-box {
        padding: 0;
    }

    .review-form__warning-name {
        left: 0;
        width: 379px;
    }

    .review-form__warning-rating {
        left: 419px;
        width: 175px;
    }
}

@media (max-width: 360px) {
    .specs-reviews-box__review-form-box {
        width: 360px;
        padding: 0;
    }

    .review-form__flex-2 {
        flex-direction: column;
        gap: 15px;
    }

    .review-form__flex-1 {
        gap: 15px;
    }

    .review-form__input-text,
    .review-form__input-rating,
    .review-form__textarea {
        width: 335px;
    }

    .review-form__textarea {
        margin-bottom: 15px;
    }

    .review-form__warning-name,
    .review-form__warning-rating {
        left: 0;
        width: 335px;
    }

    .review-form__warning-rating {
        left: 0;
        width: 335px;
        top: 115px;
    }

}
