.main {
    max-width: 1500px;
    margin: 0 auto;
}

.breadcrumbs {
    display: flex;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
}

.nav__breadcrumbs {
    margin: 98px 50px 0 50px;
}

.breadcrumbs__link,
.specs__link {
    text-decoration: none;
    color: #008CF0;
}

.breadcrumbs__link:hover,
.specs__link:hover {
    color: #F36223;
}

.breadcrumbs__link:active,
.specs__link:active {
    color: #A93A09;
}

.item-title {
    font-size: 32px;
}

.main__item-title {
    margin: 8px auto 0 50px;
}

.item-images {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
}

.item-images > img {
    width: 24%;
}

.main__item-images {
    margin: 30px 50px 0 50px;

}

.specs-reviews-aside-box {
    padding: 0px;
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.main__specs-reviews-aside-box {
    margin: 30px 50px 0 50px;
}

.specs-reviews-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.specs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.specs__title {
    margin: 0;
}

.specs__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: outside;
    padding-left: 18px;
    margin: 0;
}

::marker {
    color: #888888;
    font-size: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.description__title,
.description__paragraph {
    margin: 0;
}

.comparison {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comparison__title {
    margin: 0;
}

.comparison__table {
    border-collapse: collapse;
    box-sizing: border-box;
}

.comparison__table-head {
    text-align: center;
}

.comparison__table-head,
.comparison__table-boby {
    border: 1px solid #888888;
}

.comparison__table-td,
.comparison__table-th {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    font-size: 16px;
}

.comparison__table-th {
    padding: 10px 15px;
}

.comparison__table-td {
    padding: 10px 8px;
}

.comparison__table-row:hover {
    background-color: #f2f2f2;
}

.ads-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aside-box__ads-box {
    margin-top: 40px;
}

.ads-box__title {
    margin: 0;
    color: #888888;
    font-family: 14px;
}

.ad {
    box-sizing: border-box;
    width: 420px;
    height: 300px;
    border: 1px dashed #ccc;
}

@media (max-width: 1499px) and (min-width: 1024px) {
    .comparison {
        display: none;
    }

    .main {
        margin: auto;
        width: 1024px;
    }

    .reviews-box__photo {
        height: 100px;
    }

    .reviews-box__rating>img {
        height: 20px;
    }

    .specs-reviews-aside-box {
        gap: 40px;
    }

    .nav__breadcrumbs,
    .main__item-title,
    .main__item-images,
    .main__specs-reviews-aside-box {
        margin-left: 15px;
        margin-right: 15px;
    }

    .item-images>img {
        height: 272px;
    }

    .ad {
        width: 360px;
    }

    .specs-reviews-box {
        width: 594px;
    }

    .review-form__warning-name {
        left: 0;
        width: 379px;
    }

    .review-form__warning-rating {
        left: 419px;
        width: 175px;
    }

    .br {
        width: 464px;
    }
}

@media (max-width: 360px) {
    .comparison {
        display: none;
    }

    .main {
        margin: 0;
        /* max-width: 360px; */
        min-width: 360px;
    }

    .specs-reviews-aside-box {
        display: flex;
        flex-direction: column;
    }

    .specs-reviews-box {
        width: 360px;
    }

    .aside-box {
        order: -1;
    }

    .ads-box {
        display: none;
    }

    .main__specs-reviews-aside-box {
        margin: 0;
    }

    .item-title {
        font-size: 24px;
    }
    
    .main__item-title {
        margin: 8px 10px 20px 10px;
    }
    
    .item-images {
        display: flex;
        gap: 10px;
        width: 360px;
        overflow-y: scroll;
    }
    
    .main__item-images {
        margin: 20px 10px 30px 10px;
    }

    .nav__breadcrumbs {
        margin: 73px 10px 0 10px;
    }

    .specs-reviews-aside-box {
        gap: 30px;
        margin: 0 10px;
    }

    .color-configuration__radio-buttons {
        flex-wrap: wrap;
    }

}
