.reviews-box {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.specs-reviews-box__reviews-box {
    margin-top: 20px;
    /* margin-bottom: 60px; */
}

.reviews-box__header {
    display: flex;
    justify-content: space-between;
}

.reviews-box__title {
    display: flex;
    gap: 10px;
    font-weight: 24px;
    font-weight: 700;
    align-items: center;
}

.reviews-box__title-title,
.reviews-box__title-amount {
    font-size: 24px;
}

.reviews-box__title-title,
.reviews-box__review-title-name {
    margin: 0;
}

.reviews-box__reviews {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
