/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.memory-configuration__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    width: 92px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
}

.memory-configuration__btn:hover {
    background: #F2F2F2;
}

.memory-configuration__btn:active {
    border: 2px solid #A93A09;
}

/* CHECKED STYLES */
[type=radio]:checked+.memory-configuration__btn, .memory-configuration__btn_active {
    border: 2px solid #F36223;
}